

$lightblue: #83C5BE;
$darkblue: #006D77;
$matteorange: #E29578;
$lightbeige: #FFDDD2;
$coldwhite: #EDF6F9;
$warmgrey: #D9D9D9;


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Rammetto+One&display=swap');
$font-stack: "Manrope", sans-serif;
$font-logo:  "Rammetto One", sans-serif;