@use 'base' as *;

#searchButton {
    background-color: $matteorange;
    width: 7em;
    border-radius: 25px;
    height: 4em;
    border-color: $matteorange;
    border-style: solid;
    border-width: 4px;
    font-family: "manrope";
    color: $coldwhite;
    font-weight: 900;
    transition: 0.5s;
}

#searchButton:hover {
    border-color: $darkblue;
    color: $coldwhite;
}


#sun_div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sun,
#sunrays {
    position: absolute;


}

.sun_div {
    position: sticky;
    overflow: hidden;
    height: 31em;
    width: 100%;
    top: 100%;
    display: flex;
}

#sun {
    display: flex;
    width: 35em;
    height: 35em;
    background: $matteorange;
    border-radius: 50%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#sunsetsunriseDiv {
    display: flex;
    width: 100%;
    margin: auto;
    gap: 5em;
    justify-content: center;
}

#sunsetsunriseDiv div {
    display: flex;
    transition: 1s;
    flex-direction: column;
    text-align: center;

    p {
        font-size: 1.5em;
        margin-top: 0;
    }
}


#sunriseimg,
#sunsetimg {
    width: 100%;
    display: flex;

}




#surfDiv {
    p {
        font-size: 0.6em;
        text-align: center;
    }
    #S {
    margin-top: 0.2em;
}
}

